<ion-header>
  <ion-navbar>
    <button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Ajouter un livre
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col width-80>
        <!--<ion-input type="tel" maxlength="13" [(ngModel)]="isbn" placeholder="Taper un ISBN ou bien utiliser le scan"></ion-input>-->
        <ion-input type="tel" [(ngModel)]="isbn" placeholder="Taper un ISBN ou bien utiliser le scan"></ion-input>
      </ion-col>
      <ion-col width-20>
        <button light (click)="searchBook()">OK</button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div padding>
    <button block (click)="scan()">
      Scanner ISBN
    </button>
  </div>

  <ion-card *ngIf="book">
    <ion-card-header>
      Titre : {{ book.title }}
    </ion-card-header>

    <ion-card-content>
      <img *ngIf="book.thumbnail" src="{{ book.thumbnail }}" alt="jaquette du livre">
      Description : 
      {{ book.description }}
    </ion-card-content>

    <button (click)="addBook(book)"><icon add></icon>Ajouter le livre</button>
    
  </ion-card>
</ion-content>