<ion-header>
  <ion-navbar>
    <button menuToggle *ngIf="!selectedItem">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Détails du livre</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="outer-content">
  <ion-card *ngIf="selectedItem" class="selection">
    <ion-row no-padding>
      <ion-col>

      <!--<img src="{{ selectedItem.imageUrl }}" alt="">-->
      <!--<img [src]="urlLargerImg(selectedItem)" style="width: 40%; display: inline">-->
        <img class="bordered" [src]="urlLargerImg(selectedItem)">
      </ion-col>

      <ion-col center text-center>
        <p>
          <b>{{ selectedItem.title }}</b><br />{{ selectedItem.date }}
        </p>
        <p>
          {{ selectedItem.authors.join(', ') }}
        </p>
        <button clear large danger (click)="toggleFavorite(selectedItem)">
          <span [ngSwitch]="selectedItem.favorite">
            <ion-icon name="star-outline" *ngSwitchCase="false"></ion-icon>
            <ion-icon name="star" *ngSwitchCase="true"></ion-icon>
          </span>
        </button>
      </ion-col>
    </ion-row>

    <ion-card-content>
      <p>{{ selectedItem.description }}</p>
    </ion-card-content>

    <ion-row no-padding>
      <ion-col>
        <ion-item>
          <ion-label>Catégorie</ion-label>
          <ion-select item-right [(ngModel)]="selectedItem.tag" cancelText="Annuler" (ionChange)="upd(selectedItem)" [alertOptions]="filterOptionsAlert">
            <ion-option value="possede">{{ constants.categories["possede"] }}</ion-option>
            <ion-option value="a-vendre">{{ constants.categories["a-vendre"] }}</ion-option>
            <ion-option value="idee-cadeau">{{ constants.categories["idee-cadeau"] }}</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>

