<ion-header>
  <ion-navbar>
    <button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Ma bibliothèque</ion-title>
  </ion-navbar>
</ion-header>


<ion-content class="outer-content">
  <ion-searchbar [(ngModel)]="query" (ionInput)="getItems($event)" placeholder="Rechercher"></ion-searchbar>

  <!--<span [innerHTML]="doTag()"></span>-->

  <ion-list>
    <!--    <ion-list-header>
      Mes livres
    </ion-list-header>
-->
    <ion-item>
      <!--<ion-icon item-left name="ios-funnel" padding-right></ion-icon>-->
      <ion-label>Filtre</ion-label>

      <ion-select item-right [(ngModel)]="selectedFilter" cancelText="Annuler" placeholder="Choisir..." (ionChange)="filter()"
        [alertOptions]="filterOptionsAlert">
        <ion-option value="possede">{{ constants.categories["possede"] }}</ion-option>
        <ion-option value="a-vendre">{{ constants.categories["a-vendre"] }}</ion-option>
        <ion-option value="idee-cadeau">{{ constants.categories["idee-cadeau"] }}</ion-option>
      </ion-select>

      <button item-right clear *ngIf="selectedFilter" (click)="resetFilters()">
        <ion-icon name="close"></ion-icon>
      </button>

    </ion-item>

    <ion-item>
      <ion-label>Uniquement les favoris</ion-label>
      <ion-toggle [(ngModel)]="favoritesOnly" (ionChange)="filter()"></ion-toggle>
    </ion-item>

    <button ion-item *ngFor="let item of items" detail-push>
      <ion-thumbnail item-left (click)="itemTapped($event, item)">
        <img src="{{ item.doc.smallThumbnail }}">
      </ion-thumbnail>
      <h3 text-wrap>{{ item.doc.title }}</h3>
      <p small>{{ item.doc.date }}</p>

      <button clear large item-right (click)="toggleFavorite(item)">
        <span [ngSwitch]="item.doc.favorite">
          <ion-icon name="star-outline" *ngSwitchCase="false"></ion-icon>
          <ion-icon name="star" *ngSwitchCase="true"></ion-icon>
        </span>
      </button>

      <div [ngSwitch]="item.doc.tag" (click)="clickTag(item.doc.tag)">
        <button outline round small danger *ngSwitchCase="'idee-cadeau'">idée cadeau</button>
        <button outline round small secondary *ngSwitchCase="'a-vendre'">à vendre</button>
        <button outline round small primary *ngSwitchDefault>possède</button>
      </div>

    </button>
  </ion-list>

</ion-content>